<footer>
    <p class="copyright">&copy; {{ now|date('Y') }} by {{ bloginfo('name') }}</p>
</footer>
<script async="async" defer="defer" src="{{ theme.path }}/assets/dist/js/libs/old.js?ver={{ ver }}"></script>
{{ fn('wp_footer') }}
