<header>
    <nav>
        <ul class="main-nav">
            {% if header_menu %}
                <!-- {{ menu }} -->
                {% for item in header_menu.get_items %}
                    <li class="nav-main-item {{ item.classes | join(' ') }}"><a class="nav-main-link" href="{{ item.link }}">{{ item.title }}</a>
                        {% if item.get_children %}
                            <ul class="nav-drop">
                                {% for child in item.get_children %}
                                    <li class="nav-drop-item"><a href="{{ child.link }}">{{ child.title }}</a></li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </nav>
</header>
