{% extends 'views/woocommerce/emails/email-base.twig' %}
{% block body %}
<p>Hi {{ user_login }},</p>
<p>Someone has requested a new password for the following account on {{ blogname }}:</p>
<p>Username: <strong>{{ user_login }}</strong></p>
<p>If you didn't make this request, just ignore this email. If you'd like to proceed:</p>
<p><a href="{{ reset_link }}">Click here to reset your password</a></p>
{% if additional %}{{ additional | raw }}{% endif %}
{% endblock %}
