{% extends 'views/woocommerce/emails/email-base.twig' %}

{% block body %}
	{% if first_name %}<p>Hi {{ first_name }},</p>{% else %}<p>Hi,</p>{% endif %}
	<p>We've received your order #{{ order_number }}, and it is now being processed.</p>

	{{ order_details | raw }}
	{{ order_meta | raw }}
	{{ customer_details | raw }}
	{% if additional %}{{ additional | raw }}{% endif %}
{% endblock %}
