<div class="dropdown d-grid js-mini-cart-dropdown">
    <button type="button" data-bs-toggle="dropdown" class="btn btn-lg btn-inverse btn-block dropdown-toggle js-mini-cart-toggle"
            aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i> <span
                class='js-cart-total'>{{ cart.get_cart_contents_count() }}</span> <span class="js-cart-count-label">{{ fn('_n', 'item', 'items', cart.get_cart_contents_count(), 'woocommerce') }}</span> - <span
                class="js-total">{{ cart.get_total()|raw }}</span>
    </button>
    <ul class="dropdown-menu dropdown-menu-end p-2 js-mini-cart-menu mini-cart-dropdown-menu"
        data-popper-placement="bottom-end">
        <li>
            {% if cart.get_cart() is not empty %}
                <table class="table table-striped mb-2">
                    <tbody class="js-cart-list">
                    {% for cart_item_key, cart_item in cart.get_cart() %}
                        {% set _product = cart_item['data'] %}
                        {% set product_id = cart_item['product_id'] %}
                        {% set product_name = _product.get_name() %}

                        {% if _product and _product.exists() and cart_item['quantity'] > 0 and (cart_item|apply_filters('woocommerce_cart_item_visible', true, cart_item, cart_item_key)) %}
                            <tr class="js-cart-item" data-key="{{ cart_item_key }}">
                                <td class="text-center">
                                    <a href="{{ fn('get_permalink', product_id) }}" class="d-block thumb-sm">
                                        {% set thumbnail = _product.get_image() %}
                                        {{ thumbnail|raw }}
                                    </a>
                                </td>
                                <td class="text-start">
                                    <a href="{{ fn('get_permalink', product_id) }}">{{ product_name }}</a>
                                </td>

                                <td>×{{ cart_item['quantity'] }}</td>
                                <td class="text-end">
                                    {{ fn('apply_filters', 'woocommerce_cart_item_price', cart.get_product_price(_product), cart_item, cart_item_key) | raw }}
                                </td>

                                <td class="text-end">
                                    <button type="button"
                                            data-key="{{ cart_item_key }}"
                                            title="Remove"
                                            class="btn btn-danger js-remove-from-cart">
                                        <i class="fa-solid fa-circle-xmark">x</i>
                                    </button>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}

            <div>
                <table class="table table-sm table-bordered mb-2">
                    <tbody>
                    <tr>
                        <td class="text-end"><strong>{{ fn('__', 'Subtotal', 'woocommerce') }}</strong></td>
                        <td class="text-end"><span
                                    class="js-sub-total">{{ cart.get_cart_subtotal()|raw }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-end"><strong>{{ fn('__', 'Total', 'woocommerce') }}</strong></td>
                        <td class="text-end"><span class="js-total">{{ cart.get_total()|raw }}</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <p class="text-end">
                    <a href="{{ cart_link }}">
                        <strong>
                            <i class="fa-solid fa-cart-shopping"></i>
                            {{ fn('__', 'View cart', 'woocommerce') }}
                        </strong>
                    </a>&nbsp;
                    <a href="{{ checkout_link }}">
                        <strong>
                            <i class="fa-solid fa-share"></i> {{ fn('__', 'Checkout', 'woocommerce') }}</strong>
                    </a>
                </p>
            </div>
        </li>
    </ul>
</div>
