{% extends 'layouts/base.twig' %}

{% block content %}
  <p>
    {{ term.description }}
  </p>

  {% for post in posts %}
    <div class="category-post" style="padding:15px;">
      <h2>
        <a href="{{ post.link }}">{{ post.title }}</a>
      </h2>
      <p class="entry-meta">
        Posted:
        <time datetime="{{ post.post_date_gmt }}">
          {{ post.post_date_gmt|time_ago }}
        </time>
      </p>
      {% if post.get_thumbnail %}
        <img src="{{ post.thumbnail.src }}" alt="{{ post.title }}" />
      {% else %}
        <img src="{{
          theme.path
          }}/resources/assets/dist/images/placeholders/no-image-default.png"
          alt="" />
      {% endif %}
      <div class="clear">
        {{ post.preview.length(10).read_more('') }}
      </div>
      {{ fn('edit_post_link', 'Edit', '<span class="edit-link">', '</span>') }}
    </div>
  {% endfor %}

  {% include 'components/pagination.twig' %}
{% endblock %}
