<form method="post" class="woocommerce-ResetPassword lost_reset_password">

    <p>{{ message }}</p>

    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
        <label for="user_login">
            {{ fn('__', 'Username or email', 'woocommerce') }}&nbsp;<span class="required" aria-hidden="true">*</span>
            <span class="screen-reader-text">{{ fn('__', 'Required', 'woocommerce') }}</span>
        </label>
        <input class="woocommerce-Input woocommerce-Input--text input-text"
               type="text" name="user_login" id="user_login"
               autocomplete="username" required aria-required="true" />
    </p>

    <div class="clear"></div>

    {{ form_extra | raw }}

    <p class="woocommerce-form-row form-row">
        <input type="hidden" name="wc_reset_password" value="true" />
        <button type="submit" class="woocommerce-Button button">
            {{ fn('__', 'Reset password', 'woocommerce') }}
        </button>
    </p>

    {{ nonce | raw }}

</form>
