<form method="post" class="woocommerce-ResetPassword lost_reset_password">

    <p>{{ message }}</p>

    <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
        <label for="password_1">
            {{ fn('__', 'New password', 'woocommerce') }}&nbsp;<span class="required" aria-hidden="true">*</span>
        </label>
        <input type="password" class="woocommerce-Input woocommerce-Input--text input-text"
               name="password_1" id="password_1" autocomplete="new-password" required aria-required="true" />
    </p>

    <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
        <label for="password_2">
            {{ fn('__', 'Re-enter new password', 'woocommerce') }}&nbsp;<span class="required" aria-hidden="true">*</span>
        </label>
        <input type="password" class="woocommerce-Input woocommerce-Input--text input-text"
               name="password_2" id="password_2" autocomplete="new-password" required aria-required="true" />
    </p>

    <input type="hidden" name="reset_key" value="{{ reset_key }}" />
    <input type="hidden" name="reset_login" value="{{ reset_login }}" />

    <div class="clear"></div>

    {{ form_extra | raw }}

    <p class="woocommerce-form-row form-row">
        <input type="hidden" name="wc_reset_password" value="true" />
        <button type="submit" class="woocommerce-Button button">
            {{ fn('__', 'Save', 'woocommerce') }}
        </button>
    </p>

    {{ nonce | raw }}

</form>
