{% extends 'layouts/base.twig' %}

{% block content %}
    {% do action('woocommerce_before_single_product') %}
    <div class="post-wrap" id="post-{{ product.id }}">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    {% include 'woocommerce/components/gallery.twig' %}
                </div>

                <div class="col-6">

                    <div class="summary entry-summary">
                        <h1 class="product_title entry-title">{{ product._name }}</h1>

                        {% if product.get_short_description() %}
                            <div class="product-short-description mb-3">
                                {{ product.get_short_description()|raw }}
                            </div>
                        {% endif %}

                        <div class="price">
                            {% if product._sale_price is not empty %}
                                <s>{{ fn('wc_price', product._regular_price) }}</s>
                                {{ fn('wc_price', product._sale_price) }}
                            {% else %}
                                {{ fn('wc_price', product._regular_price) }}
                            {% endif %}
                        </div>

                        <div class="stock-status mb-2">
                            {% if product.is_in_stock() %}
                                <span class="badge bg-success">{{ fn('__', 'In stock', 'woocommerce') }}</span>
                                {% if product.get_stock_quantity() %}
                                    <small class="text-muted ms-1">
                                        ({{ product.get_stock_quantity() }} {{ fn('__', 'left', 'woocommerce') }})
                                    </small>
                                {% endif %}
                            {% else %}
                                <span class="badge bg-danger">{{ fn('__', 'Out of stock', 'woocommerce') }}</span>
                            {% endif %}
                        </div>

                        <div class="sku">
                            sku: <span>{{ product._sku }}</span>
                        </div>

                        {% if categories %}
                            <div class="categories">
                                categories:
                                <ul>
                                    {% for cat in categories %}
                                        <li>
                                            <a href="{{ cat.link }}">{{ cat.name }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if product.is_type('variable') %}
                            {% set product_variations = product.get_available_variations %}
                            {% if product_variations %}
                                <table class="table table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Price</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for variation in product_variations %}
                                        <tr>
                                            {% if variation.name %}
                                                <td>{{ variation.name }}</td>
                                            {% else %}
                                                <td>N/A</td>
                                            {% endif %}
                                            <td>{{ variation.price_html }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                                <label>
                                    <select name="variation" class="js-variant">
                                        <option value="#" selected disabled>Select variation</option>
                                        {% for variation in product_variations %}
                                            <option value="{{ variation.variation_id }}">{{ variation.name }}</option>
                                        {% endfor %}
                                    </select>
                                </label>
                            {% else %}
                                <p>No variants found for this product.</p>
                            {% endif %}
                        {% endif %}

                        <div class="mt-2 mb-4">
                            <label>
                                <input
                                        class="js-product-qty"
                                        type="number"
                                        name="quantity"
                                        min="1"
                                        {% if product.stock_quantity %}
                                            max="{{ product.stock_quantity }}"
                                        {% endif %}
                                        value="1">
                            </label>
                        </div>

                        <div class="mt-2">
                            <button class="js-add-to-cart" data-quantity="1" data-product_id="{{ product.id }}"
                                    {% if product.is_type('variable') %} disabled {% endif %}
                            >
                                Add to
                                Cart
                            </button>
                        </div>

                        <br>
                        {{ fn(
                            'edit_post_link',
                            'Edit',
                            '<span class="edit-link">',
                            '</span>',
                            post.ID
                        ) }}
                    </div>

                </div>
            </div>

            {# Tabs: Description, Additional info, Reviews #}
            <div class="row">
                <div class="col-12 mt-5">
                    {{ function('woocommerce_output_product_data_tabs') }}
                </div>
            </div>

            {# Upsells #}
            <div class="row">
                <div class="col-12">
                    {{ function('woocommerce_upsell_display') }}
                </div>
            </div>

            {# Related products #}
            <div class="row">
                <div class="col-12">
                    {% include 'woocommerce/components/related.twig' %}
                </div>
            </div>

        </div>
    </div>
{% endblock %}
