{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    {% if fn('is_tax', ['product_cat', 'product_tag']) %}
                        {{ fn('single_term_title', '', false) }}
                    {% else %}
                        {{ fn('get_the_title', fn('get_localized_wc_page_id', 'shop')) }}
                    {% endif %}
                </h1>
                <p>
                    {% if fn('function_exists', 'yoast_breadcrumb') %}
                        {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                {% if attributes %}
                    {% for attribute in attributes %}
                        <div class="attribute-filter">
                            <h3>{{ attribute.label }}</h3>
                            <ul>
                                {% for term in attribute.terms %}
                                    <li><a href="{{ term.filter_url }}">{{ term.name }}&nbsp;({{ term.count }})</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="mb-1 small">{{ fn('__', 'Price', 'woocommerce') }}:</div>
                <div id="rangeSlider"
                     data-min="0"
                     data-max="1000000"
                     data-from="{{ price_min }}"
                     data-to="{{ price_max }}">
                </div>
                <div id="slider-non-linear-step-value" class="small mt-1"></div>

            </div>

            <div class="col-10">
                <div class="row">
                    <div class="float-right">
                        {{ fn('woocommerce_catalog_ordering') }}
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-4 mb-3">
                            {% include 'woocommerce/components/product-card.twig' %}
                        </div>
                    {% else %}
                        <p class="col">{{ fn('__', 'No products found.', 'woocommerce') }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% include 'components/pagination.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
