{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    {% if fn('is_tax', ['product_cat', 'product_tag']) %}
                        {{ fn('single_term_title', '', false) }}
                    {% else %}
                        {{ fn('get_the_title', fn('get_localized_wc_page_id', 'shop')) }}
                    {% endif %}
                </h1>
                <p>
                    {% if fn('function_exists', 'yoast_breadcrumb') %}
                        {{ fn('yoast_breadcrumb', '<nav id="breadcrumbs" class="main-breadcrumbs">','</nav>', false ) }}
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                {% if has_active_filters %}
                    <a href="{{ reset_url }}" class="filter-reset">
                        &times; {{ fn('__', 'Reset filters', 'woocommerce') }}
                    </a>
                {% endif %}

                {% if attributes %}
                    {% for attribute in attributes %}
                        <div class="attribute-filter mb-3">
                            <h6 class="fw-semibold mb-2">{{ attribute.label }}</h6>
                            <div class="form-check">
                                <input class="form-check-input filter-radio" type="radio"
                                       autocomplete="off"
                                       name="attr-{{ loop.index }}"
                                       id="filter-{{ loop.index }}-all"
                                       data-param="{{ attribute.param }}"
                                       data-value=""
                                       onchange="window.location='{{ attribute.reset_url }}'">
                                <label class="form-check-label text-muted" for="filter-{{ loop.index }}-all">
                                    {{ fn('__', 'All', 'woocommerce') }}
                                </label>
                            </div>
                            {% for term in attribute.terms %}
                                <div class="form-check">
                                    <input class="form-check-input filter-radio" type="radio"
                                           autocomplete="off"
                                           name="attr-{{ loop.index }}"
                                           id="filter-{{ term.slug }}"
                                           data-param="{{ attribute.param }}"
                                           data-value="{{ term.slug }}"
                                           onchange="window.location='{{ term.filter_url }}'">
                                    <label class="form-check-label" for="filter-{{ term.slug }}">
                                        {{ term.name }}&nbsp;<span class="text-muted">({{ term.count }})</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <script>
                        (function () {
                            var params = new URLSearchParams(window.location.search);
                            document.querySelectorAll('.filter-radio').forEach(function (input) {
                                var val = params.get(input.dataset.param) || '';
                                input.checked = val === input.dataset.value;
                            });
                        })();
                    </script>
                {% endif %}

                <div class="mb-1 small">{{ fn('__', 'Price', 'woocommerce') }}:</div>
                <div id="rangeSlider"
                     data-min="0"
                     data-max="1000000"
                     data-from="{{ price_min }}"
                     data-to="{{ price_max }}">
                </div>
                <div id="slider-non-linear-step-value" class="small mt-1"></div>

            </div>

            <div class="col-10">
                <div class="row">
                    <div class="float-right">
                        {{ fn('woocommerce_catalog_ordering') }}
                    </div>
                </div>
                <div class="row">
                    {% for post in posts %}
                        <div class="col-4 mb-3">
                            {% include 'woocommerce/components/product-card.twig' %}
                        </div>
                    {% else %}
                        <p class="col">{{ fn('__', 'No products found.', 'woocommerce') }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {% include 'components/pagination.twig' %}
            </div>
        </div>
    </div>

{% endblock %}
